<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Salary</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let employee of employees">
            <tr>
                <td>{{employee.empId}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.salary}}</td>
                <td><button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateEmployee(employee)">Edit</button>
                        <button type="button"
                        class="btn btn-outline-primary" (click)="deleteEmployee(employee.empId)">
                        Delete</button></td>
            </tr>

        </tbody>
    </table>
</div>